$themeColor1: #fff;
$themeColor2: #f3f1f1;
$themeColor3: #eaeaea;
$themeColor4: #bdbbbb;
$themeColor5: #000000;
$themeColor6: #808080;

p {
  margin: 0;
}

.container {
  box-sizing: border-box;
  width: 100%;
  position: relative;

  .selectWrapper {
    position: relative;

    .searchSelect,
    .buttonSelect {
      box-sizing: border-box;
      border: 1px solid $themeColor4;
      border-radius: 4px;
      padding: 2px 45px 2px 10px;

      &:disabled {
        background-color: $themeColor2;
      }
    }

    .buttonSelect {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      background-color: $themeColor1;

      .buttonSelectText {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .labelPlaceholder {
        color: $themeColor6;
      }
    }

    .openIcon,
    .closeIcon {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 8px;
      cursor: pointer;
    }

    .disabledCloseIcon,
    .disabledOpenIcon {
      fill: $themeColor4;
    }

    .clearIcon {
      width: 10px;
      height: 10px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 30px;
      fill: $themeColor4;

      &:hover {
        fill: $themeColor5;
        cursor: pointer;
      }
    }

    .selectedFlagIcon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 8px;
      cursor: pointer;
    }
  }

  .optionsWrapper {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    width: 100%;
    position: absolute;
    z-index: 999999;
    border: 1px solid $themeColor4;
    border-radius: 4px;
    background: $themeColor1;
    margin-top: 8px;
    padding: 8px 0;
    max-height: 200px;
    overflow: auto;

    .option {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 2px 10px;

      &:hover {
        background: $themeColor3;
      }

      .optionFlag {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
      }

      .optionText {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .selected {
      background: $themeColor3;
    }
  }
}
